@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
* { box-sizing: border-box;}
body { font-family: 'Noto Sans KR', sans-serif; overflow-x:hidden; }

a { color:#05141f; }
a:hover, a:focus, a:active { text-decoration: underline;}
ul:after, .gnb_area:after { display: block; content:''; clear:both; }

.hidden { position:absolute; top:-9999px; left:-99999px; font-size:1px; line-height:1px; width:1px; height:1px; 
overflow:hidden; }
.inner {  position:relative; max-width:1440px; margin:auto;}
.shadowBlack { text-shadow:0 0 5px rgba(0,0,0,0.7); }
.shadowWhite {text-shadow:0 0 5px rgba(255,255,255,0.7); color: #05141f !important;  }

#wrap {}

/* header */
header { position:fixed; width:100%; height:111px; background: #fff; z-index:1000; }
header:before { position:absolute; display: block; content:""; width:100%; height:30px;
background: #05141f;}
header li { float: left;}


.logo { position: absolute; top:57px; left:50%; transform: translateX(-50%);}
.logo a { display: block;}
.logo a:before { display:block; content:''; width:100px; height:23px; 
background:url('../images/logo.png') no-repeat;}
.logo span {}

.open_gnb { display:none;}
.m_home { display: none;}
.d_hidden{display: none;}
.m_view_sch { display: none;}


.gnb_area {}

.util_wrap { width:100%; height:30px; }
.util_wrap a:hover { color:#fff; }
.util_wrap ul li + li:before { display: inline-block; content: ""; width:1px;  height:10px; background:rgba(255,255,255,0.6); position:absolute; top:9px;} /* li + li : 모든 첫li 뒤에오는 li를 뜻함*/
.util_wrap ul li a { display:block; font-size:12px; color:rgba(255,255,255,0.6); padding:6px 15px 0 17px; }
.util_wrap {}

.gnb_area .info { float:left; }
.gnb_area .member { float:right;}
.util_wrap ul li:first-child a { padding-left:5px; }

.util_wrap .member .view_sch { position: relative; margin-left:10px;}
.util_wrap .member .view_sch span { display: inline-block; position: absolute; width:13px; height:13px; top:8px; left:0; text-indent:-9999px; }
.util_wrap .member .view_sch span:before { position:absolute; display: block; content:""; width:6px; height:6px; border:2px solid #999fa3; border-radius: 50%;}
.util_wrap .member .view_sch span:after { display: block; content:""; width:2px; height:5px; background: #999fa3; position: absolute; top:7px; left:9px; transform: rotate(-45deg); }

.util_wrap .member .view_sch:hover span:before { border:2px solid rgba(255,255,255,0.6);}
.util_wrap .member .view_sch:hover span:after { background:rgba(255,255,255,0.6); }

.gnb_nav { float:left; margin:11px 0 0 -15px; }
.gnb_side { float:right; margin:11px -15px 0 0;}
.gnb_area .dth1_1 {}
.gnb_area .dth1_a { display:block; padding:20px 20px 0; font-size: 17px; font-weight: 500; }

/* #container */
#container { padding-top:111px; width:100%; }

.snb_wrap { position:fixed; width:100%; top:111px; height:49px; background:#05141f; z-index:999;}
.snb_wrap a { color:#fff; }

.snb_wrap h2 { position: absolute; left:0; width:267px; text-align:center; line-height: 49px; font-size:24px; }

.snb_area {}
.snb_nav { padding:0 0 0 267px; }
.snb_nav .dth1_1 { float:left; margin-left:15px; }
.snb_nav .dth1_a { display:block; font-size: 15px; line-height: 49px; color:rgba(255,255,255,0.6); }
.snb_nav .dth1_1 .dth1_a:hover { text-decoration: none;}

.snb_nav .dth1_1.selected .dth1_a { color:#fff; }

.snb_nav .dth1_1.selected .dth1_a:after { display: block; content:""; width:100%; height:4px; background: #fff; margin-top:-4px; }

.open_snb { display: none;}
.etc { position:absolute; top:0; right:130px; }
.etc a { line-height: 49px; font-size: 15px;}
.sales_kit { position:absolute; top:0; right:0; }
.sales_kit a { display: block; width:93px; height:49px;  border-right:1px solid #4d5357; border-left:1px solid #4d5357; text-align:center; padding-top:20px; box-sizing: border-box;}
.sales_kit a span { display:inline-block; width:48px; height:12px; background: url('../images/spr_kit.png')0 -34px; text-indent: -9999px;}

/****** 인디게이터 *******/
.m_indicator { display: none;}
.indicator { position:fixed; top:300px; right:10px; z-index:1000;  }
.indicator_inner {}

.indicator ul {}
.indicator li { width:170px; height:32px; margin-bottom:2px;  }
.indicator li a { position:relative; display:block; font-size:14px; line-height:32px; color:#fff; background:rgba(19, 20, 26, 0.6); border-radius: 16px; padding-left:14px; transition: 0.2s;}
.indicator li a:hover, .indicator li.on a { background:#05141f; text-decoration: none;}
.indicator .indicatorNum { position:absolute; right:0; top:0; width:32px; height:32px; border-radius: 16px; background:#05141f; text-align: center;}
.indicator .indicatorTxt { }

.indicator_prev, .indicator_next { position:absolute; right:0; width:20px; height:20px; padding:1px;}
.indicator_prev{ top:-17px; }
.indicator_next { }

.indicator_prev:before, .indicator_next:before { display:block; content:""; width:8px; height:8px; border: 2px solid #05141f; border-right:none; border-bottom: none; }
.indicator_prev:before { transform:rotate(45deg); }
.indicator_next:before { transform:rotate(-135deg); }

.indicator_top { text-align:right; margin-top:40px;  }
.indicator_top a { position:relative; display:inline-block; width:68px; height:32px; background:#05141f; border-radius: 16px; color:#fff; text-align: center; font-size: 14px; padding-top:11px;  transition: .2s;}
.indicator_top span:before { position:absolute; top:6px; left:50%; transform:translate(-50%) rotate(45deg); display:block; content:""; width:4px; height:4px; border: 2px solid #fff; border-right:none; border-bottom: none; }
.indicator_top a:hover { background:rgba(19, 20, 26, 0.8) }


/****** content *******/
#content { max-width:1920px; margin:49px auto 0; background:#fff; }


/****** content- keyVisualWrap *******/
.keyVisualWrap { position:relative; width:100%;  }

.visualInner {}
.keyVisualWrap .bgArea { position:relative; height:710px; overflow:hidden;  }
.keyVisualWrap .bgInner { position:absolute; left:50%; margin-left: -960px; width:100%; height:100%;  }
.keyVisualWrap .bgInner img { margin-top:-195px; }

.keyVisualWrap .txtArea { position: absolute; top:70px; left:50%; width:960px; margin-left:-480px;}
.keyVisualWrap .txtArea h3 { font-size: 43px; color:#05141f; letter-spacing: -2px;}

.keyVisualWrap .v_comment { position:absolute; top:675px; left:80px; }
.keyVisualWrap .v_comment p { font-size: 12px; }

.carInfo { height:140px; width:100%; text-align:center; background: #f8f8f8;; }
.carInfoInner {}
.carInfo ul { width:100%; margin:auto; border-right:1px solid #d1d1d1; width:960px; margin:auto;}
.carInfo li { float:left; width:25%; border-left:1px solid #d1d1d1; box-sizing: border-box;}
.carInfo li>div { height:140px; }
.carInfo img { padding:25px 0 10px; }
.carInfo p { font-size:14px; color:#05141f;}
.carInfo p .infoTxt { display: block; font-size:22px; font-weight:bold ; padding-top:2px;}

/* layout - 디자인 */
.layout { position:relative; background: #fff; 
    }
.layout .mainInner { height:800px; width:100%; overflow: hidden;}

.layout .textArea, .layout .textArea2 { position:absolute; width:960px; top:0; left:50%; margin-left:-480px;  color:#fff; }
.layout .textArea h3 { font-size:22px; padding:40px 0 0; }
.layout .textArea2 h4 { font-size:39px; padding:100px 0 15px; }
.layout .textArea2 p { font-size: 18px; font-weight: bold;}

.layout .bgArea { height:800px; }
.layout .bgArea .bgInner { height:100%;}
.layout .bgArea .bgInner img { width:100%; margin-top:-80px; }


/* layout - 리스트 */
.layout { }
.layout .subInner {}
.layout .imgList {}
.layout .imgList li { float:left; border-top:2px solid #fff; border-left:2px solid #fff; }
.layout .imgList li:first-child { border-left:0; }
.layout .imgList a { display: block; position: relative;}

.layout .imgList em { position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); width:50px; height:50px; border:2px solid rgba(255,255,255,0.4); background: rgba(0,0,0,0.4); border-radius: 50%; transition: 0.3s;}

.layout .imgList em:before, .layout .imgList em:after { position:absolute; content:""; width:24px; height:2px; background:rgba(255,255,255,0.7); left:calc(50% - 12px); top:calc(50% - 1px); }
.layout .imgList em:before {}
.layout .imgList em:after { transform:rotate(90deg);}

.layout .imgList a:hover em{ background:rgba(0,0,0,0.9);border:2px solid rgba(255,255,255,0.9)}

.layout .imgList .imgListTitle { position:absolute; top:30px; left:30px; font-size: 22px; font-weight: bold; color:#fff; }
.layout .imgList img { width:100%; height:auto; }

.layout .imgList.type2 li { width:50%; }
.layout .imgList.type3 li { width:33.33%; }
.layout .imgList.type4 li { width:25%; }

/* layout - 리스트 type2_in */
.layout .imgList.type2_in { width:960px; margin:50px auto; }
.layout .imgList.type2_in li { width:48%; border: 0; }
.layout .imgList.type2_in li:nth-child(2) { float:right; }
.layout .imgList.type2_in .imgBox { }
.layout .imgList.type2_in .imgTitle { display: block; font-size: 17px; padding:20px 0 5px; }
.layout .imgList.type2_in .imgDesc { font-size: 13px; }
.layout .imgList.type2_in em { top:40%; }

/* section - buy */ 
.buy { padding-top:100px; text-align: center; }
.buy h3 { font-size: 40px; }
.buy_btn { margin-top:20px; }
.buy_btn a { display:inline-block; width:120px; height:30px; background:#05141f;color:#fff; line-height:28px; border-radius: 14px; font-size: 13px; font-weight: bold;}
.buy_btn span { }
.buy_btn span:before { display:inline-block; content:""; background:url('../images/spr_common.png') no-repeat -25px -41px; width: 20px; height: 19px; margin:5px 3px 0 5px; vertical-align: top; }

.buy_spec { margin-top: 20px; }
.spec_list {}
.spec_list li {  position: relative; display: inline-block; font-size: 15px; color:#87878d; padding-left:50px; margin:30px 20px 0; text-align:left;}
.spec_list li img { position: absolute; top:0; left:-15px; }
.spec_list li span { display:block; font-weight:bold; font-size: 32px; color:#05141f; }

.buy_car { position: relative; max-width:1000px; margin:auto; height:350px;  }
.buy_car img { width:100%; position: absolute; right:-100%; transform: translateX(50%); }

.buy_car img.ani { animation: carMove 0.5s ease-in forwards;}

@keyframes carMove {
    0% {}
    100% { right:50%; }
}

.buy_link { background:#cdd0d2; padding:100px 15px 50px; margin-top:-80px;}
.buy_link ul { width:960px; margin:auto; }
.buy_link li { display: inline-block; width:19.5%; }
.buy_link li a { display: block; padding:22% 5%; margin:8%; background: #fff; font-size:16px; font-weight: bold; color:#05141f;}
.buy_link li a:before { display: block; content:""; width:80px; height:50px; background: url('../images/icon_feature_buildlink.png'); margin:0 auto 5%;}

.buy_link li:nth-child(1) a::before { background-position: 0 0;}
.buy_link li:nth-child(2) a::before { background-position: 0 -50px;}
.buy_link li:nth-child(3) a::before { background-position: 0 -100px;}
.buy_link li:nth-child(4) a::before { background-position: 0 -150px;}
.buy_link li:nth-child(5) a::before { background-position: 0 -200px;}



/* footer */
footer { position:relative; padding:120px 0; background:#05141f;}

.footer_Wrap {    }
.footerL { position:absolute; top:60px; left:40px; }
.footerL .sns { }
.footerL h1 { color:#fff; background-image: url('../images/sp_sns.png'); text-indent: -9999px; width:500px;}
.footerL .info { position:absolute; top: 60px; font-size: 14px;}
.footerL .info a {}
.footerL .info span {color:#fff;  }
.footerL .info p { display:block; color:#fff; margin-top: 10px; white-space : nowrap;}
.footerL .spec {  position:absolute; top: 135px; font-size: 14px;}
.footerL .spec a {color:#fff;}

.footerR{ position:absolute; top:60px; right:60px; }
.footerR .family { position:absolute; top:10px; right:60px; background:transparent}
select {}

.footerR .copy p { position:absolute; top: 135px; right:40px; font-size: 14px; color:#d0d0d0; white-space : nowrap; }
